apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: houwayda/test:abab209b6c412e3bbdd1d750065f2a2487f3f2ca
          imagePullPolicy: Always
          ports:
            - containerPort: 80
